@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1200px; 
  margin-inline: auto;
  padding: 0 1rem;
}

/* Responsive padding */
@media (min-width: 640px) {
  .container {
    padding: 0 2rem; /* 32px on tablet and up */
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 3rem; /* 48px on desktop */
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0 4rem; /* 64px on large screens */
  }
}

