---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold mb-4 mt-6">Contact</h1>
        <p class="mb-6">Feel free to reach out via email or connect with me on LinkedIn!</p>
        <div class="flex flex-row items-center justify-center gap-4">
            <a href="mailto:allenmaxnichols@gmail.com" class="btn btn-primary">
                Email Me
            </a>
            <a href="https://www.linkedin.com/in/allenmaxnichols/" class="btn btn-secondary">
                Connect on LinkedIn
            </a>   
        </div>
    </div>
</Layout>