---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <div class="hero min-h-screen">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-2xl font-bold fade-in">Hello, I'm Max</h1>
          <h1 class="text-4xl font-bold leading-15 pb-5 fade-in">
            Front End Engineer
          </h1>
          <h3 class="mb-8 text-lg fade-in">
            I'm a front-end engineer with a passion for building beautiful and
            functional user interfaces. I have experience with React, Node.js,
            Next.js, and Tailwind CSS.
          </h3>
          <a href="/projects" class="btn btn-primary btn-lg fade-in">
            Projects
          </a>
          <a
            href="/experience"
            class="btn btn-outline btn-accent ml-4 btn-lg fade-in"
          >
            Resume
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>
<script>
  document.addEventListener("astro:page-load", () => {
    console.log("astro:page-load event triggered");
    const fadeInEls = document.querySelectorAll(".fade-in");
    fadeInEls.forEach((el, i) => {
      const htmlEl = el as HTMLElement;
      htmlEl.style.opacity = "0";
      htmlEl.style.transform = "translateY(20px)";
      setTimeout(() => {
        htmlEl.style.transition =
          "opacity 0.7s cubic-bezier(0.4,0,0.2,1), transform 0.7s cubic-bezier(0.4,0,0.2,1)";
        htmlEl.style.opacity = "1";
        htmlEl.style.transform = "translateY(0)";
      }, i * 200);
    });
  });
</script>
