---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="hero min-h-screen md:min-h-[calc(100vh-6rem)] bg-base-200">
    <div class="hero-content text-center pt-0">
      <div class="max-w-md">
        <h1 class="text-2xl font-bold fade-in fade-in-delay">Hello, I'm Max</h1>
        <h1 class="text-4xl font-bold leading-15 pb-5 fade-in fade-in-delay-2">
          Front End Engineer
        </h1>
        <h3 class="mb-8 text-lg fade-in fade-in-delay-2">
          I'm a front-end engineer with a passion for building beautiful and
          functional user interfaces. I have experience with React, Node.js,
          Next.js, and Tailwind CSS.
        </h3>
        <a
          href="/projects"
          class="btn btn-primary btn-lg fade-in fade-in-delay-3"
        >
          Projects
        </a>
        <a
          href="/experience"
          class="btn btn-outline btn-accent ml-4 btn-lg fade-in fade-in-delay-3"
        >
          Resume
        </a>
      </div>
    </div>
  </div>
</Layout>
