---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import fs from "fs";
import path from "path";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => {
    console.log(`Generating path for project: ${project.data.slug}`);
    return {
      params: { slug: project.data.slug },
      props: { project },
    };
  });
}

type Project = {
  project: CollectionEntry<"projects">;
};

const { project }: Project = Astro.props;
---

<Layout>
  <article
    class="prose mx-auto"
    transition:name={`project-${project.data.slug}`}
  >
    <h1 class="text-4xl font-bold mb-4 mt-2">{project.data.title}</h1>
    <p>{project.body}</p>
  </article>
</Layout>
