---
import { ClientRouter, slide } from "astro:transitions";
import Dock from "../components/dock.astro";
import "./src/styles/global.css";
---

<!doctype html>
<html
  lang="en"
  data-theme="dark"
  transition:name="root"
  transition:animate="none"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter fallback="swap" />
    <title>Max Nichols | Front End Engineer</title>
  </head>
  <body>
    <div
      class="hidden md:flex justify-between items-center p-4 max-w-screen-xl mx-auto"
    >
      <div class="navbar shadow-sm">
        <div class="flex-1">
          <a class="btn btn-ghost text-xl" href="/">MN</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
            <li><a href="/experience">Experience</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <main transition:animate={slide({ duration: 600 })}>
      <slot />
    </main>

    <Dock />
  </body>
</html>
